
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="Grouping-XAS-spectra-represented-as-MCFF-spectra,-using-DBSCAN-in-sci-kit-learn">Grouping XAS spectra represented as MCFF spectra, using DBSCAN in sci-kit learn<a class="anchor-link" href="#Grouping-XAS-spectra-represented-as-MCFF-spectra,-using-DBSCAN-in-sci-kit-learn">&#182;</a></h1><p>From the preprocess we have normalized XAS spectra above the edge, and transformed the data into an array of coefficients, called the Mel-cepstrum frequency coefficients. With this we can now select elements of interest, and group all of the spectra at the edge.</p>
<p>As we tweak DBSCAN parameters, we can look at the distribution of clusters to decide what the most helpful way to cluster spectra is. When satisfied we can save the dataframe of</p>
<p>As done in the preprocessing, we will download, install and initiate a Spark session with pyspark. Java8 is also installed</p>
<p>For pyspark set-up in colab environment, I am following <a href="https://towardsdatascience.com/pyspark-in-google-colab-6821c2faf41c">https://towardsdatascience.com/pyspark-in-google-colab-6821c2faf41c</a> except for the fact I am wget'ing an archived spark (2.3.3)</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[0]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="o">!</span>wget http://archive.apache.org/dist/spark/spark-2.3.3/spark-2.3.3-bin-hadoop2.7.tgz
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>--2020-02-26 23:40:20--  http://archive.apache.org/dist/spark/spark-2.3.3/spark-2.3.3-bin-hadoop2.7.tgz
Resolving archive.apache.org (archive.apache.org)... 163.172.17.199
Connecting to archive.apache.org (archive.apache.org)|163.172.17.199|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 226027370 (216M) [application/x-gzip]
Saving to: ‘spark-2.3.3-bin-hadoop2.7.tgz’

spark-2.3.3-bin-had 100%[===================&gt;] 215.56M  8.76MB/s    in 25s     

2020-02-26 23:40:46 (8.48 MB/s) - ‘spark-2.3.3-bin-hadoop2.7.tgz’ saved [226027370/226027370]

</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[0]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="o">!</span>apt-get install openjdk-8-jdk-headless -qq &gt; /dev/null
<span class="o">!</span>tar -xvf spark-2.3.3-bin-hadoop2.7.tgz
<span class="o">!</span>pip install -q findspark
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>spark-2.3.3-bin-hadoop2.7/
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[0]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">import</span> <span class="nn">os</span>
<span class="n">os</span><span class="o">.</span><span class="n">environ</span><span class="p">[</span><span class="s2">&quot;JAVA_HOME&quot;</span><span class="p">]</span> <span class="o">=</span> <span class="s2">&quot;/usr/lib/jvm/java-8-openjdk-amd64&quot;</span>
<span class="n">os</span><span class="o">.</span><span class="n">environ</span><span class="p">[</span><span class="s2">&quot;SPARK_HOME&quot;</span><span class="p">]</span> <span class="o">=</span> <span class="s2">&quot;/content/spark-2.3.3-bin-hadoop2.7&quot;</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[0]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">import</span> <span class="nn">findspark</span>
<span class="n">findspark</span><span class="o">.</span><span class="n">init</span><span class="p">()</span>
<span class="kn">from</span> <span class="nn">pyspark.sql</span> <span class="k">import</span> <span class="n">SparkSession</span>
<span class="n">spark</span> <span class="o">=</span> <span class="n">SparkSession</span><span class="o">.</span><span class="n">builder</span><span class="o">.</span><span class="n">master</span><span class="p">(</span><span class="s2">&quot;local[*]&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">getOrCreate</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="Loading-CSV-of-mfcc-vecs-from-exafs">Loading CSV of mfcc vecs from exafs<a class="anchor-link" href="#Loading-CSV-of-mfcc-vecs-from-exafs">&#182;</a></h1>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[0]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="o">!</span>wget <span class="s2">&quot;http://exafs.ucsc.edu/bridges/mfcc_gmini.zip&quot;</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>--2020-02-26 23:41:08--  http://exafs.ucsc.edu/bridges/mfcc_gmini.zip
Resolving exafs.ucsc.edu (exafs.ucsc.edu)... 128.114.130.101
Connecting to exafs.ucsc.edu (exafs.ucsc.edu)|128.114.130.101|:80... connected.
HTTP request sent, awaiting response... 404 Not Found
2020-02-26 23:41:09 ERROR 404: Not Found.

</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>We use a Spark session and immediately convert to pandas. This is only done in the interest that future development can be done via SparkML for ease of scaling up to large XAS databases.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[0]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">from</span> <span class="nn">pyspark.ml.feature</span> <span class="k">import</span> <span class="n">VectorAssembler</span>
<span class="kn">from</span> <span class="nn">pyspark.ml.regression</span> <span class="k">import</span> <span class="n">LinearRegression</span>
<span class="kn">import</span> <span class="nn">pandas</span> <span class="k">as</span> <span class="nn">pd</span>
<span class="o">!</span>unzip -o Femcff_gmini
<span class="n">dataset</span> <span class="o">=</span> <span class="n">spark</span><span class="o">.</span><span class="n">read</span><span class="o">.</span><span class="n">load</span><span class="p">(</span><span class="s2">&quot;mcff_edge_2col_gmini.csv&quot;</span><span class="p">,</span><span class="nb">format</span><span class="o">=</span><span class="s2">&quot;csv&quot;</span><span class="p">,</span><span class="n">inferSchema</span><span class="o">=</span><span class="s2">&quot;true&quot;</span><span class="p">)</span>
<span class="n">pdf</span><span class="o">=</span><span class="n">dataset</span><span class="o">.</span><span class="n">toPandas</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>This greek alphabet dict is used for category labels in plot later ...</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[0]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="n">greek_alphabet</span> <span class="o">=</span> <span class="p">{</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u0391</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Alpha&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u0392</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Beta&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u0393</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Gamma&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u0394</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Delta&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u0395</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Epsilon&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u0396</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Zeta&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u0397</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Eta&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u0398</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Theta&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u0399</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Iota&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u039A</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Kappa&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u039B</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Lamda&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u039C</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Mu&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u039D</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Nu&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u039E</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Xi&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u039F</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Omicron&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03A0</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Pi&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03A1</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Rho&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03A3</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Sigma&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03A4</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Tau&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03A5</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Upsilon&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03A6</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Phi&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03A7</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Chi&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03A8</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Psi&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03A9</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;Omega&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03B1</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;alpha&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03B2</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;beta&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03B3</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;gamma&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03B4</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;delta&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03B5</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;epsilon&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03B6</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;zeta&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03B7</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;eta&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03B8</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;theta&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03B9</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;iota&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03BA</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;kappa&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03BB</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;lamda&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03BC</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;mu&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03BD</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;nu&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03BE</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;xi&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03BF</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;omicron&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03C0</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;pi&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03C1</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;rho&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03C3</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;sigma&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03C4</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;tau&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03C5</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;upsilon&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03C6</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;phi&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03C7</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;chi&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03C8</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;psi&#39;</span><span class="p">,</span>
    <span class="sa">u</span><span class="s1">&#39;</span><span class="se">\u03C9</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;omega&#39;</span><span class="p">,</span>
<span class="p">}</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Now we can load the MFCC arrays of a certain element and let <a href="https://en.wikipedia.org/wiki/DBSCAN">density-based spatial clustering of applications with noise (DBSCAN)</a></p>
<p>Epsilon <a href="https://iopscience.iop.org/article/10.1088/1755-1315/31/1/012012/pdf">can be determined</a> quantitatively if needed</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[0]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">import</span> <span class="nn">numpy</span> <span class="k">as</span> <span class="nn">np</span>
<span class="kn">import</span> <span class="nn">pandas</span> <span class="k">as</span> <span class="nn">pd</span>
<span class="kn">import</span> <span class="nn">matplotlib.pyplot</span> <span class="k">as</span> <span class="nn">plt</span>
<span class="kn">import</span> <span class="nn">matplotlib.cm</span> <span class="k">as</span> <span class="nn">cm</span>
<span class="kn">from</span> <span class="nn">sklearn.cluster</span> <span class="k">import</span> <span class="n">DBSCAN</span>
<span class="kn">from</span> <span class="nn">sklearn</span> <span class="k">import</span> <span class="n">metrics</span>
<span class="kn">import</span> <span class="nn">time</span>
<span class="kn">from</span> <span class="nn">ast</span> <span class="k">import</span> <span class="n">literal_eval</span>

<span class="c1"># Select element to be clustered</span>
<span class="n">eoi</span><span class="o">=</span><span class="s1">&#39;Fe&#39;</span>
<span class="c1"># Epsilon for dbscan </span>
<span class="n">epsnum</span><span class="o">=</span><span class="mi">10</span>
<span class="c1"># Min samples in a group</span>
<span class="n">minner</span><span class="o">=</span><span class="mi">5</span>

<span class="c1"># Select mfcc arrays of element-of-interest and load into a literal array for dbscan</span>
<span class="n">pdf_sel</span><span class="o">=</span><span class="n">pdf</span><span class="p">[</span><span class="n">pdf</span><span class="p">[</span><span class="s1">&#39;_c2&#39;</span><span class="p">]</span><span class="o">==</span><span class="n">eoi</span><span class="p">]</span>
<span class="n">pdf_sel</span><span class="p">[</span><span class="s1">&#39;_c3&#39;</span><span class="p">]</span><span class="o">=</span><span class="n">pdf_sel</span><span class="p">[</span><span class="s1">&#39;_c3&#39;</span><span class="p">]</span><span class="o">.</span><span class="n">apply</span><span class="p">(</span><span class="n">literal_eval</span><span class="p">)</span>
<span class="n">X</span><span class="o">=</span><span class="n">np</span><span class="o">.</span><span class="n">array</span><span class="p">(</span><span class="n">pdf_sel</span><span class="p">[</span><span class="s1">&#39;_c3&#39;</span><span class="p">]</span><span class="o">.</span><span class="n">values</span><span class="o">.</span><span class="n">tolist</span><span class="p">())</span>

<span class="c1"># Fits the array of mfcc, X with dbscan</span>
<span class="n">dbs</span><span class="o">=</span><span class="n">DBSCAN</span><span class="p">(</span><span class="n">eps</span><span class="o">=</span><span class="n">epsnum</span><span class="p">,</span><span class="n">min_samples</span><span class="o">=</span><span class="n">minner</span><span class="p">)</span><span class="o">.</span><span class="n">fit</span><span class="p">(</span><span class="n">X</span><span class="p">)</span>
<span class="n">ele_subgroups</span><span class="o">=</span><span class="n">pd</span><span class="o">.</span><span class="n">concat</span><span class="p">([</span><span class="n">pdf_sel</span><span class="o">.</span><span class="n">reset_index</span><span class="p">(),</span><span class="n">pd</span><span class="o">.</span><span class="n">Series</span><span class="p">(</span><span class="n">dbs</span><span class="o">.</span><span class="n">labels_</span><span class="p">)],</span><span class="n">axis</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span>

<span class="c1"># Show the counts for each arbitrary group</span>
<span class="n">pd</span><span class="o">.</span><span class="n">Series</span><span class="p">(</span><span class="n">dbs</span><span class="o">.</span><span class="n">labels_</span><span class="p">)</span><span class="o">.</span><span class="n">value_counts</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>To plot this, we want to load normalized XAS and color them according to their groups that were found above.</p>
<p>When a cluster parameters are finalized, we can save the dataframe by uncommenting the bottom 3 lines. These csv's will be the datasource for the interactive Plotly application to observe color-coded clustered spectra.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[0]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">import</span> <span class="nn">numpy</span> <span class="k">as</span> <span class="nn">np</span>
<span class="kn">import</span> <span class="nn">pandas</span> <span class="k">as</span> <span class="nn">pd</span>
<span class="kn">import</span> <span class="nn">matplotlib.pyplot</span> <span class="k">as</span> <span class="nn">plt</span>
<span class="kn">import</span> <span class="nn">matplotlib.cm</span> <span class="k">as</span> <span class="nn">cm</span>
<span class="kn">from</span> <span class="nn">sklearn.cluster</span> <span class="k">import</span> <span class="n">DBSCAN</span>
<span class="kn">from</span> <span class="nn">sklearn</span> <span class="k">import</span> <span class="n">metrics</span>
<span class="kn">import</span> <span class="nn">time</span>
<span class="kn">from</span> <span class="nn">ast</span> <span class="k">import</span> <span class="n">literal_eval</span>
<span class="kn">import</span> <span class="nn">re</span>

<span class="c1"># Load and match normalized XAS to their defined clusters</span>
<span class="n">df_raw</span><span class="o">=</span><span class="n">pd</span><span class="o">.</span><span class="n">read_csv</span><span class="p">(</span><span class="s2">&quot;http://exafs.ucsc.edu/bridges/data_agg_mini_cleanest.csv&quot;</span><span class="p">)</span>
<span class="n">subgroup_ix</span><span class="o">=</span><span class="n">np</span><span class="o">.</span><span class="n">array</span><span class="p">(</span><span class="n">ele_subgroups</span><span class="p">[</span><span class="s1">&#39;_c1&#39;</span><span class="p">]</span><span class="o">.</span><span class="n">apply</span><span class="p">(</span><span class="k">lambda</span> <span class="n">x</span><span class="p">:</span> <span class="nb">int</span><span class="p">(</span><span class="n">x</span><span class="p">)))</span>
<span class="n">dfr_sel</span><span class="o">=</span><span class="n">df_raw</span><span class="o">.</span><span class="n">iloc</span><span class="p">[</span><span class="n">subgroup_ix</span><span class="p">][[</span><span class="s1">&#39;_2&#39;</span><span class="p">,</span><span class="s1">&#39;e_zset&#39;</span><span class="p">,</span><span class="s1">&#39;mu_zset&#39;</span><span class="p">]]</span>
<span class="n">dfr_sel</span><span class="p">[</span><span class="s1">&#39;_c1&#39;</span><span class="p">]</span><span class="o">=</span><span class="n">dfr_sel</span><span class="p">[</span><span class="s1">&#39;_2&#39;</span><span class="p">]</span>
<span class="n">ele_subgroups</span><span class="o">=</span><span class="n">ele_subgroups</span><span class="o">.</span><span class="n">set_index</span><span class="p">(</span><span class="n">pd</span><span class="o">.</span><span class="n">Series</span><span class="p">(</span><span class="n">ele_subgroups</span><span class="p">[</span><span class="s1">&#39;_c1&#39;</span><span class="p">])</span><span class="o">.</span><span class="n">apply</span><span class="p">(</span><span class="nb">int</span><span class="p">))</span>
<span class="n">subg_anl</span><span class="o">=</span><span class="n">pd</span><span class="o">.</span><span class="n">concat</span><span class="p">([</span><span class="n">dfr_sel</span><span class="p">,</span> <span class="n">ele_subgroups</span><span class="p">],</span><span class="n">join</span><span class="o">=</span><span class="s1">&#39;inner&#39;</span><span class="p">,</span><span class="n">axis</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span>
<span class="n">subg_anl</span><span class="p">[</span><span class="s1">&#39;e_zset&#39;</span><span class="p">]</span><span class="o">=</span><span class="n">subg_anl</span><span class="p">[</span><span class="s1">&#39;e_zset&#39;</span><span class="p">]</span><span class="o">.</span><span class="n">apply</span><span class="p">(</span><span class="n">literal_eval</span><span class="p">)</span>
<span class="n">subg_anl</span><span class="p">[</span><span class="s1">&#39;mu_zset&#39;</span><span class="p">]</span><span class="o">=</span><span class="n">subg_anl</span><span class="p">[</span><span class="s1">&#39;mu_zset&#39;</span><span class="p">]</span><span class="o">.</span><span class="n">apply</span><span class="p">(</span><span class="n">literal_eval</span><span class="p">)</span>

<span class="c1"># The plot legend will include cluster counts</span>
<span class="n">groupct</span><span class="o">=</span><span class="n">pd</span><span class="o">.</span><span class="n">Series</span><span class="p">(</span><span class="n">dbs</span><span class="o">.</span><span class="n">labels_</span><span class="p">)</span><span class="o">.</span><span class="n">value_counts</span><span class="p">()</span>

<span class="kn">from</span> <span class="nn">matplotlib.lines</span> <span class="k">import</span> <span class="n">Line2D</span>
<span class="n">custom_lines</span> <span class="o">=</span> <span class="p">[</span><span class="n">Line2D</span><span class="p">([</span><span class="mi">0</span><span class="p">],</span> <span class="p">[</span><span class="mi">0</span><span class="p">],</span> <span class="n">color</span><span class="o">=</span><span class="s1">&#39;black&#39;</span><span class="p">,</span> <span class="n">lw</span><span class="o">=</span><span class="mi">4</span><span class="p">),</span>
                <span class="n">Line2D</span><span class="p">([</span><span class="mi">0</span><span class="p">],</span> <span class="p">[</span><span class="mi">0</span><span class="p">],</span> <span class="n">color</span><span class="o">=</span><span class="s1">&#39;blue&#39;</span><span class="p">,</span> <span class="n">lw</span><span class="o">=</span><span class="mi">4</span><span class="p">),</span>
                <span class="n">Line2D</span><span class="p">([</span><span class="mi">0</span><span class="p">],</span> <span class="p">[</span><span class="mi">0</span><span class="p">],</span> <span class="n">color</span><span class="o">=</span><span class="s1">&#39;red&#39;</span><span class="p">,</span> <span class="n">lw</span><span class="o">=</span><span class="mi">4</span><span class="p">)]</span>

<span class="kn">from</span> <span class="nn">matplotlib</span> <span class="k">import</span> <span class="n">colors</span> <span class="k">as</span> <span class="n">mcolors</span>
<span class="n">colors</span> <span class="o">=</span> <span class="nb">dict</span><span class="p">(</span><span class="n">mcolors</span><span class="o">.</span><span class="n">BASE_COLORS</span><span class="p">,</span> <span class="o">**</span><span class="n">mcolors</span><span class="o">.</span><span class="n">CSS4_COLORS</span><span class="p">)</span>

<span class="k">for</span> <span class="n">pp</span> <span class="ow">in</span> <span class="n">subg_anl</span><span class="o">.</span><span class="n">index</span><span class="p">:</span>
  <span class="n">plt</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">subg_anl</span><span class="p">[</span><span class="s1">&#39;e_zset&#39;</span><span class="p">][</span><span class="n">pp</span><span class="p">],</span> <span class="n">subg_anl</span><span class="p">[</span><span class="s1">&#39;mu_zset&#39;</span><span class="p">][</span><span class="n">pp</span><span class="p">],</span> <span class="n">s</span><span class="o">=.</span><span class="mi">1</span><span class="p">,</span> <span class="n">color</span><span class="o">=</span><span class="nb">list</span><span class="p">(</span><span class="n">colors</span><span class="o">.</span><span class="n">keys</span><span class="p">())[</span><span class="n">subg_anl</span><span class="p">[</span><span class="mi">0</span><span class="p">][</span><span class="n">pp</span><span class="p">]</span><span class="o">+</span><span class="mi">1</span><span class="p">])</span>

<span class="n">custom_lines</span><span class="o">=</span><span class="p">[]</span>
<span class="n">labes</span><span class="o">=</span><span class="p">[]</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="n">groupct</span><span class="o">.</span><span class="n">index</span><span class="p">:</span>
  <span class="n">custom_lines</span><span class="o">.</span><span class="n">append</span><span class="p">(</span> <span class="n">Line2D</span><span class="p">([</span><span class="mi">0</span><span class="p">],[</span><span class="mi">0</span><span class="p">],</span><span class="n">color</span><span class="o">=</span><span class="nb">list</span><span class="p">(</span><span class="n">colors</span><span class="o">.</span><span class="n">keys</span><span class="p">())[</span><span class="n">i</span><span class="o">+</span><span class="mi">2</span><span class="p">],</span><span class="n">lw</span><span class="o">=</span><span class="s1">&#39;3&#39;</span><span class="p">)</span> <span class="p">)</span>
  <span class="k">if</span> <span class="n">i</span><span class="o">&lt;</span><span class="mi">0</span><span class="p">:</span>
    <span class="n">labes</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="s1">&#39;unclassed group with count = &#39;</span><span class="o">+</span> <span class="nb">str</span><span class="p">(</span><span class="n">groupct</span><span class="o">.</span><span class="n">iloc</span><span class="p">[</span><span class="n">i</span><span class="p">])))</span>
  <span class="k">else</span><span class="p">:</span>
    <span class="n">labes</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="nb">list</span><span class="p">(</span><span class="n">greek_alphabet</span><span class="o">.</span><span class="n">keys</span><span class="p">())[</span><span class="n">i</span><span class="o">+</span><span class="mi">2</span><span class="p">])</span><span class="o">+</span><span class="s1">&#39; group with count = &#39;</span><span class="o">+</span> <span class="nb">str</span><span class="p">(</span><span class="n">groupct</span><span class="o">.</span><span class="n">iloc</span><span class="p">[</span><span class="n">i</span><span class="p">])))</span>

<span class="n">plt</span><span class="o">.</span><span class="n">legend</span><span class="p">(</span><span class="n">custom_lines</span><span class="p">,</span> <span class="n">labes</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">show</span><span class="p">()</span>

<span class="c1"># Uncomment to save appropriate DBSCAN clustering of a certain element</span>
<span class="c1">#subg_anl.to_csv(str(eoi)+&#39;_subg_eps&#39;+str(epsnum)+&#39;_min&#39;+str(minner)+&#39;.csv&#39;)</span>
<span class="c1">#from google.colab import files</span>
<span class="c1">#files.download(str(eoi)+&#39;_subg_eps&#39;+str(epsnum)+&#39;_min&#39;+str(minner)+&#39;.csv&#39;)</span>
</pre></div>

</div>
</div>
</div>

</div>
 

